.body {
  padding: 0;
  margin: 0;
  background-color: white;
}
.cv {
  max-width: 65%;
  border: 3px solid black;
  padding: 3px;
  border-radius: 8px;
  margin-left: 2vw;
}

.section1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  /* background-color: #e9e9e96d; */
  font-size: 1.1em;
}

.left-side {
  width: 50%;
  padding-top: 35vh;
  margin-left: 4vh;
}
.flex {
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  align-items: center;
  justify-content: center;
}

.mono {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: normal;
  margin-top: 4px;
  /* min-width: 200px; */
  font-size: 20px;
}
.monoL {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: bolder;
  /* min-width: 256px; */
  font-size: 33px;
  width: -20%;
}
.monoXL {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.right-side {
  width: 50%;
}

.ill {
  margin-top: 15vh;
  margin-left: 2vh;
  max-width: 40vw;
  z-index: 2;
  /* filter: invert(100%); */
}

@media only screen and (min-width: 1000px) {
  .mono {
    font-size: 26px;
  }
  .monoL {
    font-size: 40px;
  }
  .cv {
    max-width: 65%;
    border: 3px solid black;
    padding: 3px;
    border-radius: 8px;
    margin-left: 2vw;
  }
}

@media only screen and (max-width: 330px) {
  .ill {
    margin-left: -52vw !important;
  }
  .hello {
    padding-top: 35vh !important;
  }
  .social {
    padding-top: 10px !important;
    padding-bottom: 120px;
    margin-top: -15px !important;
  }
  .section1 {
    font-size: 1em;
  }
  .mono {
    margin-top: 0px;
    font-size: 20px;
  }
  .monoL {
    font-size: 25px;
  }
  .flex {
    min-width: max-content;
  }
  .social {
    padding-top: 10px !important;
  }
  .left-side {
    margin-left: 4vw !important;
  }
}

@media only screen and (max-width: 450px) and (min-width: 330px) {
  .section1 {
    font-size: 1em;
  }
  .left-side {
    margin-left: 4vw !important;
  }
  .hello {
    padding-top: 25vh !important;
  }
  .ill {
    margin-left: -48vw !important;
  }
  .social {
    padding-bottom: 120px;
    padding-top: 20px !important;
    margin-top: 0 !important;
  }
  .mono {
    margin-top: 0px;
    font-size: 20px;
  }
  .monoL {
    font-size: 25px;
  }
  .flex {
    min-width: max-content;
  }

}

@media only screen and (max-width: 855px){
  .ill {
    margin-top: 15vh;
    min-width: 250px;
    margin-left: -28vw;
  }
  .left-side {
    max-width: 200%;
    padding-top: 45vh;
  }
  .hello {
    padding-top: 20vh;
  }
  .monoL {
    min-width: fit-content;
  }
  .mono {
    min-width: fit-content;
  }
  .social {
    margin-left: 8vw;
    min-width: 100%;
  }
  .para {
    width: 180%;
  }
  .flex {
    width: 180%;
  }
  .section1 {
    /* display: flex;
    flex-direction: row; */
    min-height: 100vh;
    width: 100%;
    margin: auto;
    /* background-color: #e9e9e96d; */
  }

}
@media only screen and (max-width: 400px) {
  .ill {
    margin-left: -110%;
    max-width: 40%;
    margin-top: 12vh;
  }
  .monoL {
    min-width: fit-content;
  }
  .mono {
    min-width: fit-content;
  }
  .cv {
    max-width: 63% !important;
    border: 2px solid black !important;
    padding: 3px;
    border-radius: 8px;
    margin-left: 2vw;
  }
}

.para {
  padding-bottom: 20px;
}

.social {
  display: flex;
  width: 50%;
  padding-left: 23%;
  padding-top: 5vh;
}
.socialicon {
  max-width: 25%;
}
.social a {
  height: 100% !important;
  width: 100% !important;
}

.socialicon {
  max-width: 80%;
  padding-left: 2vw;
}

.socialicon:hover {
  cursor: pointer;
}
