html {
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

.sec {
  min-height: 100vh;
}
.btnTop {
  position: fixed;
  top: 18vh;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  transform: rotate(-35deg);
  z-index: 3;
}

.dark {
  filter: invert(100%) !important;
  background-color: white;
}

@media only screen and (max-width: 1250px) {
  .btnTop {
    padding: 20px;
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 350px) {
  .btnTop {
    padding: 10px;
    font-size: small;
  }
}

.btnTop:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  color: black;
}
